<td><%= details.name %></td>
<td><%= details.father_name  %></td>
<td><%= details.ssc_roll  %></td>
<td><%= details.ssc_gpa %></td>
<td><%= details.hsc_roll  %></td>
<td><%= details.hsc_gpa %></td>
<td><%= details.quota %></td>