<% @examineesdetails.each do |details| %>
<hr>

<% if details.result.merit.blank? %>
<div style="color:red">Sorry, You are failed. Best of Luck </div>
<% else %>
<div class="text-align:center">
Your merit position is: 
<b style="color:green;"><%= details.result.merit.to_i %></b>

<% end %>

<% if details.result.list.blank? %>
<% else %>

and You are in the 
<b style="color:green;"><%= details.result.list %></b>
</div>
<% end %>


<br/>Examinees Details:<br/>
<div class="row">  
<% if details.examinee.unit.blank? %>
<% else %>
<div class="">
<b>Unit : </b>
<%= details.examinee.unit %>
</div>
<% end %>    

<% if details.examinee.roll_number.blank? %>
<% else %>
<div class="">
<b>Roll Number : </b>
<%= details.examinee.roll_number %>
</div>
<% end %>  
  
<% if details.name.blank? %>
<% else %>
<div class="">
<b>Name: </b>
<%= details.name %>
</div>
<% end %>

<% if details.father_name.blank? %>
<% else %>
<div class="">
<b>Father's Name: </b>
<%= details.father_name %>
</div>
<% end %>

<% if details.ssc_roll.blank? %>
<% else %>
<div class="">
<b>SSC Roll: </b>
<%= details.ssc_roll.to_i %>
</div>
<% end %>

<% if details.ssc_gpa.blank? %>
<% else %>
<div class="">
<b>SSC GPA:</b>
<%= details.ssc_gpa %>
</div>
<% end %>

<% if details.hsc_roll.blank? %>
<% else %>
<div class="">
<b>HSC Roll: </b>
<%= details.hsc_roll.to_i %>
</div>
<% end %>

<% if details.hsc_gpa.blank? %>
<% else %>
<div class="">
<b>HSC GPA: </b>
<%= details.hsc_gpa %>
</div>
<% end %>

<% if details.quota.blank? %>
<% else %>
<div class="">
<b>Quota: </b>
<%= details.quota %>
</div>
<% end %>

<% if details.results_details.physics.blank? %>
<% else %>
<div class="">
<b>Physics: </b>
<%= details.results_details.physics %>
</div>
<% end %>

<% if details.results_details.chemistry.blank? %>
<% else %>
<div class="">
<b>Chemistry: </b>
<%= details.results_details.chemistry %>
</div>
<% end %>

<% if details.results_details.math.blank? %>
<% else %>
<div class="">
<b>Math: </b>
<%= details.results_details.math %>
</div>
<% end %>

<% if details.results_details.biology.blank? %>
<% else %>
<div class="">
<b>Biology: </b>
<%= details.results_details.biology %>
</div>
<% end %>

<% if details.results_details.ban_eng.blank? %>
<% else %>
<div class="">
<b>Bangla/English: </b>
<%= details.results_details.ban_eng %>
</div>
<% end %>

<% if details.results_details.bangla.blank? %>
<% else %>
<div class="">
<b>Bangla : </b>
<%= details.results_details.bangla %>
</div>
<% end %>

<% if details.results_details.english.blank? %>
<% else %>
<div class="">
<b>English : </b>
<%= details.results_details.english %>
</div>
<% end %>

<% if details.results_details.analytical_ability.blank? %>
<% else %>
<div class="">
<b>Analytical Ability : </b>
<%= details.results_details.analytical_ability %>
</div>
<% end %>



<% if details.results_details.general_knowledge.blank? %>
<% else %>
<div class="">
<b>General Knowledge : </b>
<%= details.results_details.general_knowledge %>
</div>
<% end %>

<% if details.result.marks.blank? %>
<% else %>
<div class="">
<b>Marks : </b>
<%= details.result.marks %>
</div>
<% end %>


<% if details.result.merit.blank? %>
<% else %>
<div class="">
<b>Merit : </b>
<%= details.result.merit.to_i %>
</div>
<% end %>

<% if details.result.list.blank? %>
<% else %>
<div class="">
<b>List: </b>
<%= details.result.list %>
</div>
<% end %>
<% end %>

</tr>

</div>

<script type="text/javascript">
var collapseDivs, collapseLinks;

function createDocumentStructure (tagName) {
  if (document.getElementsByTagName) {
    var elements = document.getElementsByTagName(tagName);
    collapseDivs = new Array(elements.length);
    collapseLinks = new Array(elements.length);
    for (var i = 0; i < elements.length; i++) {
      var element = elements[i];
      var siblingContainer;
      if (document.createElement && 
          (siblingContainer = document.createElement('div')) &&
          siblingContainer.style) 
      {
        var nextSibling = element.nextSibling;
        element.parentNode.insertBefore(siblingContainer, nextSibling);
        var nextElement = elements[i + 1];
        while (nextSibling != nextElement && nextSibling != null) {
          var toMove = nextSibling;
          nextSibling = nextSibling.nextSibling;
          siblingContainer.appendChild(toMove);
        }
        siblingContainer.style.display = 'none';
        
        collapseDivs[i] = siblingContainer;
        
        createCollapseLink(element, siblingContainer, i);
      }
      else {
        // no dynamic creation of elements possible
        return;
      }
    }
    createCollapseExpandAll(elements[0]);
  }
}

function createCollapseLink (element, siblingContainer, index) {
  var span;
  if (document.createElement && (span = document.createElement('span'))) {
    span.appendChild(document.createTextNode(String.fromCharCode(160)));
    var link = document.createElement('a');
    link.collapseDiv = siblingContainer;
    link.href = '#';
    link.appendChild(document.createTextNode('expand'));
    link.onclick = collapseExpandLink;
    collapseLinks[index] = link;
    span.appendChild(link);
    element.appendChild(span);
  }
}

function collapseExpandLink (evt) {
  if (this.collapseDiv.style.display == '') {
    this.parentNode.parentNode.nextSibling.style.display = 'none';
    this.firstChild.nodeValue = 'expand';
  }
  else {
    this.parentNode.parentNode.nextSibling.style.display = '';
    this.firstChild.nodeValue = 'collapse';
  }

  if (evt && evt.preventDefault) {
    evt.preventDefault();
  }
  return false;
}

function createCollapseExpandAll (firstElement) {
  var div;
  if (document.createElement && (div = document.createElement('div'))) {
    var link = document.createElement('a');
    link.href = '#';
    link.appendChild(document.createTextNode('expand all'));
    link.onclick = expandAll;
    div.appendChild(link);
    div.appendChild(document.createTextNode(' '));
    link = document.createElement('a');
    link.href = '#';
    link.appendChild(document.createTextNode('collapse all'));
    link.onclick = collapseAll;
    div.appendChild(link);
    firstElement.parentNode.insertBefore(div, firstElement);
  }
}

function expandAll (evt) {
  for (var i = 0; i < collapseDivs.length; i++) {
    collapseDivs[i].style.display = '';
    collapseLinks[i].firstChild.nodeValue = 'collapse';
  }
  
  if (evt && evt.preventDefault) {
    evt.preventDefault();
  }
  return false;
}

function collapseAll (evt) {
  for (var i = 0; i < collapseDivs.length; i++) {
    collapseDivs[i].style.display = 'none';
    collapseLinks[i].firstChild.nodeValue = 'expand';
  }
  
  if (evt && evt.preventDefault) {
    evt.preventDefault();
  }
  return false;
}
</script>
<script type="text/javascript">
window.onload = function (evt) {
  createDocumentStructure('h1');
}
</script>
<center><h1>Chapter 1</h1><p>This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is
chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. This is chapter 1. </p>
<h1>Chapter 2</h1><p>This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. </p>
<p>This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. This is chapter 2. .</p>
<h1>Chapter 3</h1><p>This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. This is chapter 3. </p></center>