  <td><%= details.results_details.physics %></td>
  <td><%= details.results_details.chemistry %></td>
  <td><%= details.results_details.math %></td>
  <td><%= details.results_details.biology %></td>
  <td><%= details.results_details.ban_eng %></td>
  <td><%= details.results_details.bangla %></td>
  <td><%= details.results_details.english %></td>
  <td><%= details.results_details.analytical_ability %></td>
  <td><%= details.results_details.general_knowledge %></td>